.PageButton {
    display: inline-block;
    padding: 8px 12px 12px;
    font-size: 1.4rem;
    height: 1.4rem;
    width: 1.4rem;
    transition: all 0.2s;
}

.PageButton:hover {
    transform: translateY(-2px);
}

.PageButton--selected {
    background-color: #fff;
}

.PageButtonsContainer {
    display: inline-block;
    padding: 0px 0px 30px;
}
