body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  background-attachment: fixed !important;
  background-position: center !important;
  transition: background-image 1s, background-color 1s;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
